body {
  margin: 0px;
  padding: 0px;
  background-color: #F8F9F9;
}

.header-container{
  width: 100%;
  height: 280px;
  /* background-color: #C4C4C4; */
  display: flex;
  justify-content: center;
}

.header-content {
  width: 1200px;
  height: 100%;
  /* background-color: teal; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.header-content h1{
  font-size: 100px;
  font-family: 'Dancing Script', cursive;
  font-weight: 500;
  padding-bottom: 60px;
  /* padding-top:15px; */
  margin-top: 25px;
  
}

.header-navigation-container {
  width: 430px;
  height: 25px;
  margin-top: 30px;
  padding-top: 40px;
  /* background-color: violet; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  
}

.navbar-link{
  font-family: 'Lato', sans-serif;
  font-size: 11px;
  color: rgba(150,150,150,1);
  text-transform: uppercase;
  line-height: 1.8;
  letter-spacing: 0.06em;
  font-weight: 100;
  
}

.body-section1-container {
  /* background-color: lightseagreen; */
  height: 730px;
  width: 100%;

}
.body-section1-content {
  /* background-color: lightgray); */
  width: 1200px;
  height: 100%;
  margin-right: 120px;
  margin-left: 120px;
  position: relative
}

.section1-background-img {
  /* background-color: palevioletred; */
  height: 700px;
  width: 721px;
  
  position: absolute;
  transform: scale(1, 1) translate(-120px, 0px);
}

.background-img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  display: block;
  /* object-fit: cover; */
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("./greenleaves.jpg");
  /* background-image: url("./.jpg"); */
}

.section1-center-img {
  background-color: peachpuff;
  height: 450px;
  width: 315px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

}

.center-img {
  width: 100%;
  height: 100%;

  top: 0px;
  left: 0px;
  display: block;
  object-fit: contain;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("./public/images/vase.jpg");
}

.section1-text-block {
  /* background-color: rgb(53, 118, 148); */
  height: 300px;
  width: 324px;
  position: absolute;
  left: 798px;
  top: 280px;

}

.textbox-title {
  color: rgba(150,150,150,1);
  text-transform: uppercase;
  line-height: 1.4;
  letter-spacing: 0.05em;
  font-size: 34px;
  text-align: left;
  font-family: 'Montserrat';
  font-weight: 600;
  font-style: normal;

}

.textbox-paragraph {
  color: rgba(25,25,26,1);
  line-height: 1.8;
  letter-spacing: 0em;
  font-size: 16px;
  text-align: left;
  font-family: 'Old Standard TT';
  font-weight: 400;
  font-style: normal;
}

.textbox-footer {
  color: rgba(150,150,150,1);
  text-transform: uppercase;
  line-height: 1.8;
  letter-spacing: 0.06em;
  font-size: 11px;
  text-align: left;
  font-family: 'Lato';
  font-weight: 700;
  font-style: normal;

}

.about-section-container {
  /* background-color: blue; */
  width: 1200px;
  height: 1100px;
  position: relative;
  margin: 0 auto;


}

.about-block1 {
  height: 110px;
  width: 316px;
  /* background-color: greenyellow; */
  position: absolute;
  left: 99px;
  top: 170px;
  transform: scale(1, 1) translate(0px, 0px);
  

}

.about-block2 {
  height: 482px;
  width: 384px;
  background-color: hotpink;
  position: absolute;
  left: 217px;
  top: 436px;
  transform: scale(1, 1) translate(0px, 0px);

}

.about-block3 {
  height: 414px;
  width: 414px;
  background-color: orangered;
  position: absolute;
  left: 443px;
  top: 136px;
  transform: scale(1, 1) translate(0px, 0px);

}

.about-block4 {
  height: 450px;
  width: 663px;
  /* background-color: purple; */
  position: absolute;
  left: 656px;
  top: 270px;
  transform: scale(1, 1) translate(0px, 0px);
}

.about-block5 {
  height: 400px;
  width: 316px;
  /* background-color: cornflowerblue; */
  position: absolute;
  left: 659px;
  top: 760px;
  transform: scale(1, 1) translate(0px, 0px);

}

.about-background-img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  display: block;

}

.background-img1 {
  background-image: url(./public/images/Leaves.jpg);
}

.center-background-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;

}

.background-img2 {
  background-image: url(./public/images/vine.jpg);
}

.background-img3 {
  background-image: url(./public/images/Background_img_1_door.jpg);
}

.blogposts-container {
  background-color: rgba(245,245,245,1);
  height: 800px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 120px;
  /* padding-bottom: 120px; */
  
}

.blogposts-content {
  width: 1050px;
  height: 100%;
  /* background-color: darkolivegreen; */
 
}

.blogposts-header {
  /* background-color: pink; */
  width:100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
  
}

.blogposts-title {
  font-size: 30px;
  text-align: left;
  color: rgba(150,150,150,1);
  text-transform: uppercase;
  line-height: 1.4;
  letter-spacing: 0.05em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-style: normal;
  margin: 0;


}

.blogposts-smalltext {
  width: 71%;
  border-bottom: 1px solid rgb(105,105,105);
  display: flex;
  align-items: center;

}

.blogposts-smalltext h5 {
  text-transform: uppercase;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: .06em;
  line-height: 1.8;
  font-weight: 700;
  font-size: 11px;
  color: rgb(105,105,105);

}

.blogposts-posts {
  width: 100%;
  /* background-color: darkmagenta; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 45px;
  
}

.post {
  width: 500px;
  height: 100%;
  display: flex;
  flex-direction: column;
  object-fit: cover;
  justify-content: center;
  
}

.blogpost-img1 {
  width: 100%;
  height: 350px;
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("./public/images/Flowers.jpg");
  object-fit: cover;


}

.blogpost-img2 {
  width: 100%;
  height: 350px;
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("./public/images/Flower.jpg");
  /* object-fit: cover; */

}

.blogpost-footer-title {
  font-size: 9px;
  text-align: center;
  font-family: 'Lato';
  font-weight: 200;
  font-style: normal;
  color: rgba(0,0,0,1);
  text-transform: uppercase;
  line-height: 1.2;
  letter-spacing: 0.05em;
}

.blogpost-footer-smalltext {
  color: rgba(0,0,0,1);
  text-transform: none;
  line-height: 1.2;
  font-size: 16px;
  text-align: center;
  font-family: 'Amatic SC';
  font-style: normal;
  letter-spacing: 0.02em;
}

.footer-container{
  background-color: rgba(245,245,245,1);
  height: 570px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  
}

.footer-content {
  height: 100%;
  width: 1200px;
  /* background-color: lawngreen; */
  margin: 0 auto;
  position: relative;
}

.footer-header {
  /* left: -45px; */
  top: 7px;
  width: 627px;
  height: 315px;
  position: absolute;
  /* background-color: pink; */
}

.footer-header-bigtext {
  color: rgba(228, 225, 225, 0.767);
  font-size: 130px;
  text-align: center;
  font-family: 'Dancing Script';
  font-weight: 400;
  font-style: normal;
  line-height: 1.8;
  letter-spacing: 0em;
  margin: 0;
}

.footer-header-subtext {
  position: absolute;
  left: 143px;
  top: 145px;
  width: 362px;
  height: 36px;
  /* background-color: blue; */
}

.footer-header-subtext-text {
  color: rgba(34, 33, 33, 0.808);
  font-size: 22px;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.4;
  letter-spacing: 0.05em;
  font-family: 'Montserrat';
  font-weight: 600;
  font-style: normal;
}

.footer-left-text {
  left: 130px;
  top: 218px;
  width: 403px;
  height: 85px;
  /* background-color: blue; */
  position: absolute;
}

.footer-left-paragraph {
  color: rgba(25,25,26,1);
  line-height: 1.8;
  letter-spacing: 0em;
  font-size: 16px;
  text-align: left;
  font-family: 'Old Standard TT';
  font-weight: 400;
  font-style: normal;
}

.footer-divider {
  position: absolute;
  left: 600px;
  top: 0px;
  width: 1px;
  height: 570px;
  background-color: rgba(236,236,236,1);
}
}